*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing:border-box;

}

nav{
   
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 0;
  
}
.LOGO{
    width: 180px;
    
    
}

nav ul{
    list-style: none;
    width:100%;
    text-align: center;
    padding-right: 60px;
}


nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color:black;
    text-decoration: none;
}
.container{
    width: 100%;
    min-height: 30vh;
    
    background-image:url(file:///C:/Users/Windows%2011/Downloads/Rectangle%20143.png);
    background-size:cover;
    background-position:center;
    padding:10px 8%;
    position: relative;
}
.center{
    position:absolute;
    top:0%;
    left:50%;
    bottom:60% ;
    transform: translate(-50%,50%);
    font-size:20px;
}
.home{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 0;
}

.addinfor .nav{
    
    width: 80vh;
    height: 40vh;
    
    
}

.infor{
    border-top-style: solid;
    border-top-color:darkgrey;
    border-bottom-style: solid;
    border-bottom-color: darkgray;
    background-color: white;
    align-items: center;
    height: 190px;
    display:grid;
    margin-bottom:20px;
    margin-top: 10px;
    
   
}
li{
    list-style: none;
}
a{
    color:black;
    text-decoration: none;
}
p{
    color:grey;
}
.addinfor .nav{
    
    width: 80vh;
    height: 40vh;
    
    
}

.addinfor{
    background-color: #f9f1e7;
    height:150px;
    
    align-items: center;
    margin-top:280vh;
   
}
.filter{
    background-color: #f9f1e7;
}
.drop{
    background-color: white;
    color:gray;
    padding:16px;
    font-size:18px;
    border:none;
    cursor:pointer;
}
.dropdown{
    position:relative;
    display:inline-block;
}
.dropdown_content{
    display:none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index:1;
}
.dropdown_content a{
    color:grey;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
}
.blockdown_content a:hover {
    background-color: white;
}
.dropdown:hover .dropdown_content {
    display:block;
}
.display:hover .drop{
    background-color: white;
}
